@import "compass";
@import "compass/css3";
@import "compass/reset";
@import "bootstrap/bootstrap";
@import "base";

// COMPASS Skillz 
//	@include transform(scale(0.4));
//	@include transition( all .5s );

// :::::::::::::::::::::::::::::::::::

body{
	background:#41443e;
	color:white;
	//font-family:"News Gothic W01 Bold";
}

#container{
	// position: absolute;
	// width:1024px;	
	// height:768px;
	// overflow:hidden;
	// top:0px;
	// left:0px;
}

.content{
	padding-top: 60px;
}