
    <div class="container">

      <div class="starter-template content">
        <h1>Boilerplate template</h1>
        <p class="lead">BackboneJS, RequireJS, BootStrap SASS, Compass, Greensock</p>
        <p class="lead">Outer View, Sub Views</p>
      </div>

    </div><!-- /.container -->
